.social-container
  .social.col.text-center
    %a{ href: 'https://github.com/sbpipb', title: "Github", class: 'social-link' }
      %i.fa.fa-github
    %a{ href: 'https://www.linkedin.com/in/julianmacmang', title: "LinkedIn", class: 'social-link' }
      %i.fa.fa-linkedin
    %a{ href: 'mailto:heyjulianmacmang@gmail.com', title: "mail", class: 'social-link' }
      %i.fa.fa-envelope
    %a{ href: 'https://www.instagram.com/julianism', title: "instagram", class: 'social-link' }
      %i.fa.fa-instagram
