.container
  .headline.row
    .col-md-5.col-sm-12
      .avatar.rounded-circle.img-fluid.col
    .content.col-md-7.col-sm-12
      %p.title
        I'm <span class='keywords'>Julian Macmang</span>
      %p
        A <span class='keywords'>Software developer</span> from <span class='keywords'>MashupGarage</span>.
      %p
        I've been dabbling with web development since 2011. Recently, I've drawn interests to dev-ops, and Kubernetes in particular.
      %p 
        I'd like to think that I'm an outdoorsman. I love hiking and I'm a big coffee enthusiast as well.
