.container
  .headline.row
    .col-md-8.col-sm-12
      %h1.title.display-2.col
        jvlivn.
      /= image_tag('hike.jpg', class: 'avatar rounded-circle img-fluid col')
      .avatar.rounded-circle.img-fluid.col
    .content.col-md-4.col-sm-12
      %p
        Hey there!
      %p
        I'm <span class='keywords'>Julian Macmang</span>, a software developer from <span class='keywords'>Manila</span>.

      %p
        I write code using <span class='keywords'>Ruby</span>. I'm currently doing a refresher on <span class='keywords'>ReactJS</span>.
      %p
        I post tech-related stuff on <a class='keywords' href='https://plus.google.com/+JulianMacmang'>Google+</a>, do check them out!
      %p
        I love hiking and I'm a big coffee enthusiast as well.

      %p
        I'll be updating my site in the coming days. Will add portofolio, skills and blog section. Ciao!
