.container
  .headline.row
    .col-md-8.col-sm-12
      %h1.title.display-2.col
        jvlivn.
      /= image_tag('hike.jpg', class: 'avatar rounded-circle img-fluid col')
      .avatar.rounded-circle.img-fluid.col
    .content.col-md-4.col-sm-12
      %p
        Hey there!
      %p
        I'm <span class='keywords'>Julian Macmang</span>, a software developer from <span class='keywords'>Manila</span>.

      %p
        I've been into web development since 2011. I'm into dev-ops as well, what I've been interested as of late is Kubernetes.
      %p 
        I'd like to think that I'm an outdoorsman. I love hiking and I'm a big coffee enthusiast as well.
