.container
  .headline.row
    .col-8
      %h1.title
        COMO ESTA MI AMIGO?
      = image_tag('hike.jpg', class: 'img-fluid')
    .content.col-4

      %p
        Hey there!
      %p
        I'm <span class='keywords'>Julian Macmang</span>, a software developer from <span class='keywords'>Manila</span>.

      %p
        I write code using <span class='keywords'>Ruby</span>. I'm currently doing a refresher on <span class='keywords'>ReactJS</span>.
      %p
        I post tech-related stuff on <a href='https://plus.google.com/+JulianMacmang'>Google+</a>, do check them out!
      %p
        I love hiking. I'm a coffee enthusiast as well.

      %p
        I'll be updating my site in the coming days. Will add portofolio, skills and blog section.

%footer.footer
  =render 'social'
