.container
  .headline.row
    .col-md-5.col-sm-12
      .avatar.rounded-circle.img-fluid.col
    .content.col-md-7.col-sm-12
      %p.title
        I'm <span class='keywords'>Julian Macmang</span>
      %p
        A <span class='keywords'>Software developer</span> from <span class='keywords'>Manila</span>.
      %p
        I've been working on web development since 2011. I've been using Ruby on Rails mostly after 2015.
      %p 
        Thanks to the pandemic, I've been doing a lot of biking. You can follow me on Strava to see where I've been.


      %p
        I've recently tried bloggin again, check it <a href="https://blog.jvlivn.com" class="keywords">here</a>
