@import './variables.scss';

body {
  margin-top: 10%;
  font-family: $open-sans;
  font-family: $montserrat !important;
}

.container {
  background-color: #222;
  min-height: 90vh;
}

.headline {
  .avatar {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position:relative;
    width: 100%;
    background-image: url(asset_path('hike.jpg'))
  }

  .rounded-circle {
    border-radius: 50%;
  }

  .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .title {
    text-transform: uppercase;
    color: $brand-2;
    font-weight: 800;
    font-family: monospace
  }

  > .content {
    color: $white;
    font-size: 19px;
    margin-top: 56px;

    > p > .keywords {
      text-decoration: underline;
      font-weight: bold;
        color: $brand-1;
    }

    > p > .keywords:hover {
      color: $brand-2;
    }

  }
}

.footer {
  // position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  margin-top: 56px;
  line-height: 56px;
}
