@import './variables.scss';
.social-container {
  margin-top: 24px;
  background-color: $brand-1;
  padding-top: 8px;
}

.social {
  line-height: 1;
  padding: 24px;

  > .social-link {
    margin: auto 24px;
    height: 48px;
    > i {
      font-size: 16px;
      color: $white;
    }
  }

  .fa {
    transition: transform .3s; /* Animation */
  }

  .fa:hover {
      color: $brand-2;
      transform: scale(2);
  }
}
