@import './variables.scss';

.social {
  margin-top: 16px;
  // // bottom: 0;
  // background-color: black;
  // display: block;
  > .social-link {
    margin: auto 24px;
    height: 48px;
    > i {
      height: 56px;
      font-size: 24px;
      color: $white;
    }
  }

  .fa:hover {
      color: $black;
  }
}
